body {
    background-color: black;
  }
  h1 {
    color: white;
    text-align: center;
    }
  h2 {
    color: white;
    font-size: 100%;
    text-align: center;
  }
  ol li { 
    color: white;
    font-size: 120%;

  }
  p {
    color: white;
    font-size: 100% 
  }
  